    <section class="menu-platos">
        <div class="contenedor">
            <h2 class="texto-centro">Nuestros Platos</h2>
            
            <div class="menu-platos-item">
                <div class="img-menu">
                    <img src="/asset/images/Crispy Wrap.jpg" alt="Crispy Wrap" class="img-redondeado img-responsive">
                </div>
                
                <div class="desc-menu">
                    <h4>{{nombre_plato_1}}</h4>
                    <p class="precio-plato">$15.50</p>
                    <p class="desc-plato">{{descripcion_plato_1}}</p>
                    <br>
                    <a href="#" class="btn btn-principal">Ordenar</a>
                </div>
            </div>

            <div class="menu-platos-item">
                <div class="img-menu">
                    <img src="/asset/images/rack-de-cordero.jpg" alt="Rack de cordero" class="img-redondeado img-responsive">
                </div>
                
                <div class="desc-menu">
                    <h4>{{nombre_plato_2}}</h4>
                    <p class="precio-plato">$25.50</p>
                    <p class="desc-plato">{{descripcion_plato_2}}</p>
                    <br>
                    <a href="#" class="btn btn-principal">Ordenar</a>
                </div>
            </div>

            <div class="menu-platos-item">
                <div class="img-menu">
                    <img src="/asset/images/Linguini-con-Camarones.jpg" alt="Linguini con Camarones" class="img-redondeado img-responsive">
                </div>
                
                <div class="desc-menu">
                    <h4>{{nombre_plato_3}}</h4>
                    <p class="precio-plato">$18.50</p>
                    <p class="desc-plato">{{descripcion_plato_3}}</p>
                    <br>
                    <a href="#" class="btn btn-principal">Ordenar</a>
                </div>
            </div>

            <div class="menu-platos-item">
                <div class="img-menu">
                    <img src="/asset/images/ajiaco.jpg" alt="Ajiaco" class="img-redondeado img-responsive">
                </div>
                
                <div class="desc-menu">
                    <h4>{{nombre_plato_5}}</h4>
                    <p class="precio-plato">$7.45</p>
                    <p class="desc-plato">{{descripcion_plato_5}}</p>
                    <br>
                    <a href="#" class="btn btn-principal">Ordenar</a>
                </div>
            </div>

            <div class="menu-platos-item">
                <div class="img-menu">
                    <img src="/asset/images/kartoffelpuffer.jpg" alt="kartoffelpuffer" class="img-redondeado img-responsive">
                </div>
                
                <div class="desc-menu">
                    <h4>{{nombre_plato_4}}</h4>
                    <p class="precio-plato">$19.99</p>
                    <p class="desc-plato">{{descripcion_plato_4}}</p>
                    <br>
                    <a href="#" class="btn btn-principal">Ordenar</a>
                </div>
            </div>

            <div class="menu-platos-item">
                <div class="img-menu">
                    <img src="/asset/images/sushi.jpg" alt="Sushi" class="img-redondeado img-responsive">
                </div>
                
                <div class="desc-menu">
                    <h4>{{nombre_plato_6}}</h4>
                    <p class="precio-plato">$22.75</p>
                    <p class="desc-plato">{{descripcion_plato_6}}</p>
                    <br>
                    <a href="#" class="btn btn-principal">Ordenar</a>
                </div>
            </div>
            <div class="limpiar"></div>
        </div>
    </section>
